{% extends 'base.html' %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block contents %}

<div class="container">
    <h2>{{ page_title }}</h2>

    <div class="menu-sosmed">
        <a href="{% url 'sosmed:list' %}" class="menu-card">Instagram</a>
        <a href="{% url 'sosmed:tiktok' %}" class="menu-card">TikTok</a>
        <a href="{% url 'sosmed:facebook' %}" class="menu-card">Facebook</a>
        <a href="{% url 'sosmed:twitter' %}" class="menu-card">X / Twitter</a>
    </div>
</div>

{% endblock contents %}
