{% extends 'base.html' %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block contents %}

<div class="container menu-container">
    <button onclick="toggleDarkMode()" class="mode-toggle" id="toggleBtn">
        🌙
    </button>

    <h2>{{ page_title }}</h2>

    <div class="menu-sosmed">
        <a href="{% url 'sosmed:list' platform='instagram' %}" class="menu-card">
            Instagram
        </a>

        <a href="{% url 'sosmed:list' platform='tiktok' %}" class="menu-card">
            TikTok
        </a>

        <a href="{% url 'sosmed:list' platform='facebook' %}" class="menu-card">
            Facebook
        </a>

        <a href="{% url 'sosmed:list' platform='twitter' %}" class="menu-card">
            X / Twitter
        </a>
    </div>
</div>

{% endblock contents %}
