{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Sosial Media</h1>

    <div class="mt-4">
        <a href="{% url 'sosmed:instagram' %}" class="btn btn-primary m-2">
            Instagram
        </a>

        <a href="{% url 'sosmed:tiktok' %}" class="btn btn-dark m-2">
            TikTok
        </a>

        <a href="{% url 'sosmed:facebook' %}" class="btn btn-info m-2">
            Facebook
        </a>

        <a href="{% url 'sosmed:twitter' %}" class="btn btn-secondary m-2">
            X / Twitter
        </a>
    </div>
</div>
{% endblock %}
